input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

$color-background: #eaecfa;
$color-main: #1976d2;

input[type="number"] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    padding-top: 85px;
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1001;
    &__profile{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background: darkmagenta;
        font-size: 16px;
        text-transform: lowercase;
    }
    &__route {
        padding-right: 5px;
        & > div {
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            position: relative;
        }

        & > div:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 1px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }
        & > div:hover:after {
            width: 100%;
            left: 0;
        }
    }
}

.list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;

    &-pagination {
        margin: 30px;
    }

    &-card{
        width: 800px;
    }

    &__item {
        display: flex !important;
        justify-content: center;

        &-img {
            width: auto !important;
            max-width: 98%;
            height: 400px;
        }
    }
}

.modal__slick{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    & .slick-slider {
        & .slick-arrow {
            position: absolute;
            width: 40px;
            height: 40px;
            z-index: 200;
            opacity: 0.15;
            cursor: pointer;
            &:hover{
                opacity: 0.35;
            }
        }
        & .slick-next {
            top: 50%;
            transform: translate(0, -50%);
            right: 20px;
        }
        & .slick-prev {
            top: 50%;
            transform: translate(0, -50%);
            left: 20px;
        }
    }
    .list__item-img{
        width: inherit !important;
        height: auto;
    }
}

.filter {
    &__price {
        display: grid;
        grid-template-columns: 150px 150px 80px;
        column-gap: 10px;
    }
}

.add {
    padding: 20px;

    &__text-area {
        min-height: 184px;
        border-radius: 4px;
        border: 1px solid $color-main;
        resize: none;
        padding: 8px;
    }

    &__dndimg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid $color-main;
        height: 200px;
        border-radius: 4px;
        row-gap: 5px;
    }

    &__button {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__input {
        &-price {
            display: grid;
            grid-template-columns: 5fr 1.5fr;
            column-gap: 10px;
            & > div:last-child {
                min-width: 80px;
            }
        }
    }
}

.loader__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: $color-main;
    letter-spacing: 0.2em;
    z-index: 1003;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background: $color-main;
        position: absolute;
        animation: load 0.7s infinite alternate ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh - 90px);
    flex-direction: column;
    row-gap: 20px;
    &__input {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 350px;
        row-gap: 15px;
        margin: 0 15px;
        & input {
            display: block;
            width: 100%;
        }
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    img {
        width: 250px;
        height: auto;
    }
}

.send {
    margin: 0 auto;
    width: 60vw;
    & .add__text-area {
        width: 100%;
    }
    &__attach {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__file {
        display: flex;
        align-items: center;
        column-gap: 3px;
        & > button {
            margin-left: 10px;
            padding: 3px !important;
            min-width: 0 !important;
        }
    }
}

.alert {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1003;
}

#myfile {
    display: none;
}


@media screen and (max-width: 900px) {
    .filter__price {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .list-card{
        width: 700px;
    }
    .list__item-img{
        height: 350px;
    }
    .about{
        flex-direction: column;
        row-gap: 15px;
        text-align: center;
    }
    .send{
        width: 75vw;
    }
    .add{
        &>div{
             grid-template-columns: none;
        }
       
    }
}


@media screen and (max-width: 700px) {
    .list-card{
        width: 390px;
    }
    .list__item-img{
        height: 200px;
    }
    .add__text-area {
        height: 45vh !important;
    }
}



@media screen and (max-width: 400px) {
    .list-card{
        width: 300px;
    }
    .list__item-img{
        height: 150px;
    }
}
